.header {
  color: white;

  width: 800px;
  margin: 0 auto;
  margin-top: 15rem;
  font-family: 'Heebo', sans-serif;

  * {
    font-weight: 100;
    font-family: serif;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 1;
  }

  h3 {
    font-size: 2rem;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
  }
}
