.search {
  position: relative;

  &__label {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 4px;
    left: 5px;

    background-image: url(../../imgs/outline_search_white_24dp.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__input {
    background: none;
    border-radius: 25px;
    outline: none;
    padding-left: 20px;
  }
}
